$landing-start-img: url('/img/backroom.jpeg');
$landing-casefinder-typing: url('/img/typing.jpeg');

section.row {
  height: 100vh;
  font-size: 1.50em;
  div.col-md-6 {
    text-align: center;
  }
}

section.row#landing-start {
  background-image: $landing-start-img;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

section.row#landing-casefinder-typing {
  background-image: $landing-casefinder-typing;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

i.fa-spinner {
  visibility: hidden;
}

div.opinion-animate {
  transition: 0.5s linear all;
  -webkit-transition: 0.5s linear all;
}

div.opinion-animate.ng-enter {
  opacity: 0;
}

div.opinion-animate.ng-enter.ng-enter-active {
  opacity: 1;
}

div.opinion-animate.ng-leave {
  opacity: 1;
}

div.opinion-animate.ng-leave.ng-leave-active {
  opacity: 0;
}
